{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 base-path">
            {{ data.base_path }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% for tab in data.tabs %}
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>{{ tab.name }}</th>
                    </tr>
                    {% for split in tab.splits %}
                        <tr>
                            <td>{{ split }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}
